<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>hotelMASTER</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginAdminServlet</display-name>
    <servlet-name>loginAdminServlet</servlet-name>
    <servlet-class>com.hotel.loginlogout.loginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminServlet</servlet-name>
    <url-pattern>/loginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginClerkServlet</display-name>
    <servlet-name>loginClerkServlet</servlet-name>
    <servlet-class>com.hotel.loginlogout.loginClerkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginClerkServlet</servlet-name>
    <url-pattern>/loginClerkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.hotel.loginlogout.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.hotel.loginlogout.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyClerkServlet</display-name>
    <servlet-name>ModifyClerkServlet</servlet-name>
    <servlet-class>com.hotel.modify.ModifyClerkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyClerkServlet</servlet-name>
    <url-pattern>/ModifyClerkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyGuestServlet</display-name>
    <servlet-name>ModifyGuestServlet</servlet-name>
    <servlet-class>com.hotel.modify.ModifyGuestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyGuestServlet</servlet-name>
    <url-pattern>/ModifyGuestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationClerkServlet</display-name>
    <servlet-name>RegistrationClerkServlet</servlet-name>
    <servlet-class>com.hotel.registration.RegistrationClerkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationClerkServlet</servlet-name>
    <url-pattern>/RegistrationClerkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.hotel.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDashboardServlet</display-name>
    <servlet-name>RoomDashboardServlet</servlet-name>
    <servlet-class>com.hotel.roomdashboard.RoomDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDashboardServlet</servlet-name>
    <url-pattern>/RoomDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDashboard</display-name>
    <servlet-name>RoomDashboard</servlet-name>
    <servlet-class>com.hotel.roomdashboard.RoomDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDashboard</servlet-name>
    <url-pattern>/RoomDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rooms</display-name>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>com.hotel.roomdashboard.Rooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomHandler</display-name>
    <servlet-name>RoomHandler</servlet-name>
    <servlet-class>com.hotel.roomdashboard.RoomHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomHandler</servlet-name>
    <url-pattern>/RoomHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountHandler</display-name>
    <servlet-name>AccountHandler</servlet-name>
    <servlet-class>com.hotel.Account.AccountHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountHandler</servlet-name>
    <url-pattern>/AccountHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReservations</display-name>
    <servlet-name>GetReservations</servlet-name>
    <servlet-class>com.hotel.reservation.GetReservations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReservations</servlet-name>
    <url-pattern>/GetReservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailHandler</display-name>
    <servlet-name>EmailHandler</servlet-name>
    <servlet-class>com.hotel.email.EmailHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailHandler</servlet-name>
    <url-pattern>/EmailHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>com.hotel.email.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailController</display-name>
    <servlet-name>EmailController</servlet-name>
    <servlet-class>com.hotel.email.EmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailController</servlet-name>
    <url-pattern>/EmailController</url-pattern>
  </servlet-mapping>
</web-app>